:root {
  --font-family: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo-primary {
  color: #2196f3;
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 306px) {
  .logo {
    margin-right: 92px;
  }
}

.logo {
  color: #000000;
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-logo {
  color: #ffffff;
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 960px) {
  .main-title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 961px) {
  .main-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.main-title {
  margin-bottom: 30px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .section-title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.section-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.social-list {
  width: 206px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.social-link-icon {
  fill: var(--icon-color);
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
  fill: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .backdrop {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 450px) {
  .modal-window {
    display: none;
  }
}

@media screen and (min-width: 451px) and (max-width: 1199px) {
  .modal-window {
    width: 450px;
    height: 609px;
  }
  .policy-label {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
    height: 580px;
  }
  .policy-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.modal-close-icon {
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: var(--accent-color);
}

.contact-form-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}

.contact-form-field-wrapper {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.contact-form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.contact-form-input:focus + .contact-form-icon {
  fill: var(--accent-color);
}

.contact-form-label {
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.contact-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: none;
  transition-property: border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.contact-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-message::placeholder {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.policy-label {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.policy-label::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  content: "";
  cursor: pointer;
  margin-right: 8px;
  border-radius: 2px;
}

.policy-checkbox:checked + .policy-label::before {
  background-color: var(--accent-color);
  border-radius: 2px;
  background-image: url(../img/svg/Vector.svg);
  background-size: contain;
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;
}

.link-form {
  color: var(--accent-color);
}

.contact-form-button {
  display: block;
  margin: 30px auto 40px auto;
  min-width: 200px;
  border: transparent;
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 56px;
  transition-property: box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.contact-form-button:hover, .contact-form-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .header-contact {
    display: none;
  }
  .header-container {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .burger-menu {
    border: none;
    background-color: transparent;
    padding: 12px 8px;
    line-height: 0;
    margin-left: auto;
    cursor: pointer;
  }
  .burger-menu__icon {
    fill: #000000;
    transition-property: fill;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }
  .burger-menu__icon:hover, .burger-menu__icon:focus {
    fill: var(--accent-color);
  }
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 1;
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
  }
  .mobile-menu__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 10px;
    background-color: transparent;
    border: none;
    line-height: 0;
    cursor: pointer;
  }
  .mobile-menu__close-icon {
    fill: #000000;
    transition-property: fill;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }
  .mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
    fill: var(--accent-color);
  }
  .mobile-menu__nav-list {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu__nav-link {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .mobile-menu__nav-item + .mobile-menu__nav-item,
  .mobile-menu__contacts-item + .mobile-menu__contacts-item {
    margin-top: 32px;
  }
  .mobile-menu__contacts {
    margin-top: 302px;
  }
  .mobile-menu__contacts-list {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu__contacts-tel {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu__contacts-mail {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
  .mobile-menu__social {
    margin-top: 64px;
  }
  .mobile-menu__social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .mobile-menu__social-item + .mobile-menu__social-item {
    margin-left: 10px;
  }
  .mobile-menu__social-item:not(:first-child)::before {
    content: " ";
    height: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-right: 10px;
  }
  .mobile-menu__social-link {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header-container {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .navigation {
    display: flex;
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .nav-list__item + .nav-list__item {
    margin-left: 50px;
  }
  .nav-list__link {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--accent-color);
    cursor: pointer;
  }
  .current {
    position: relative;
  }
  .current::after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 46px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .header-contact {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  .header-contact__item {
    display: flex;
    align-items: center;
  }
  .header-contact__item + .header-contact__item {
    margin-top: 10px;
  }
  .header-contact__link {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }
  .header-contact__link:hover, .header-contact__link:focus {
    color: var(--accent-color);
    cursor: pointer;
  }
  .header-contact__icon {
    fill: var(--secondary-text-color);
    margin-right: 10px;
    transition-property: fill;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }
  .header-contact__link:hover .header-contact__icon,
  .header-contact__link:focus .header-contact__icon {
    fill: var(--accent-color);
    cursor: pointer;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .current {
    position: relative;
  }
  .current::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 44px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .header-contact {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
  .header-contact__item {
    display: flex;
    align-items: center;
  }
  .header-contact__item + .header-contact__item {
    margin-left: 30px;
    margin-top: 0;
  }
}

.portfolio-header {
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: flex;
  align-items: center;
}

.current {
  color: var(--accent-color);
}

@media screen and (max-width: 576px) {
  .hero {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/mobile-header-img.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (max-width: 576px) and (min-device-pixel-ratio: 2), screen and (max-width: 576px) and (min-resolution: 192dpi), screen and (max-width: 576px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/mobile-header-img@2x.jpg);
  }
}

@media screen and (min-width: 577px) and (max-width: 960px) {
  .hero {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/tablet-header-img.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 577px) and (max-width: 960px) and (min-device-pixel-ratio: 2), screen and (min-width: 577px) and (max-width: 960px) and (min-resolution: 192dpi), screen and (min-width: 577px) and (max-width: 960px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/tablet-header-img@2x.jpg);
  }
}

@media screen and (min-width: 961px) {
  .hero {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/desktop-header-img.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 961px) and (min-device-pixel-ratio: 2), screen and (min-width: 961px) and (min-resolution: 192dpi), screen and (min-width: 961px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/desktop-header-img@2x.jpg);
  }
}

.order-button {
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  border: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
  transition-property: box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.order-button:hover, .order-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about-list {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .about-list-item + .about-list-item {
    margin-top: 30px;
  }
  .item {
    width: 100%;
  }
  .about-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about-list {
    flex-wrap: wrap;
    flex-basis: calc((100% - 30px) / 2);
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .about-list-item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .about-list-item + .about-list-item {
    margin-left: 30px;
  }
  .item {
    width: 270px;
  }
}

.about-thumb {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.about-list {
  display: flex;
}

.about-title {
  margin-bottom: 10px;
  margin-top: 30px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.about-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}

.work-section {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
}

.work-list-img + .work-list-img {
  margin-left: 30px;
}

.worklist-label {
  position: relative;
}

.worklist-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  overflow: auto;
  padding-top: 27px;
  padding-bottom: 27px;
}

@media screen and (max-width: 479px) {
  .card {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team-list {
    flex-direction: column;
  }
  .team-list-item + .team-list-item {
    margin-top: 30px;
  }
  .team-text {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team-list {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .team-list-item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team-text {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-list {
    flex-basis: calc((100% - 90px) / 4);
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .team-list-item {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .team-text {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.team {
  background-color: #f5f4fa;
}

.card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list-name {
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-list-position {
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients-list {
    flex-wrap: wrap;
    flex-basis: calc((100% - 30px) / 2);
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .clients-item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients-link {
    width: 210px;
    height: 92px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients-list {
    flex-wrap: wrap;
    flex-basis: calc((100% - 60px) / 3);
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .clients-item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients-link {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients-list {
    flex-direction: row;
  }
  .clients-item + .clients-item {
    margin-left: 30px;
  }
  .clients-link {
    width: 170px;
    height: 92px;
  }
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.clients-link-icon {
  fill: var(--icon-color);
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.clients-link:hover .clients-link-icon,
.clients-link:focus .clients-link-icon {
  fill: var(--accent-color);
  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .footer-subscribe-mail {
    width: 100%;
    height: 50px;
  }
}

@media screen and (min-width: 480px) {
  .footer-subscribe-mail {
    width: 450px;
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .footer-container,
  .footer-address,
  .footer-social,
  .footer-subscribe-thumb,
  .footer-contact-list,
  .footer-subscribe-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .footer-subscribe-thumb,
  .footer-social {
    margin-top: 60px;
  }
  .footer-contacts-item + .footer-contacts-item {
    margin-top: 8px;
  }
  .footer-subscribe-button,
  .footer-subscribe-mail,
  .footer-social-list {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-address,
  .footer-social,
  .footer-subscribe-thumb,
  .footer-contact-list,
  .footer-subscribe-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .footer-social {
    margin-left: 165px;
  }
  .footer-subscribe-thumb {
    align-self: flex-end;
  }
  .footer-contacts-item + .footer-contacts-item {
    margin-top: 8px;
  }
  .footer-subscribe-thumb {
    margin-top: 60px;
  }
  .footer-subscribe-button,
  .footer-subscribe-mail,
  .footer-social-list {
    margin-top: 20px;
  }
  .footer-subscribe-mail {
    width: 450px;
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .footer-contacts-item + .footer-contacts-item {
    margin-top: 10px;
  }
  .footer-social {
    margin-left: 70px;
  }
  .footer-social-text {
    margin-bottom: 20px;
  }
  .footer-subscribe-mail {
    width: 358px;
    height: 50px;
  }
  .footer-subscribe-button {
    margin-left: 12px;
  }
  .footer-subscribe-thumb {
    margin-left: 93px;
  }
  .footer-subscribe-form {
    display: flex;
    flex-direction: row;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

address {
  margin-top: 20px;
}

.footer-contacts-address {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.footer-contacts-address:hover, .footer-contacts-address:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.footer-contacts-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.footer-contacts-link:hover, .footer-contacts-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.footer-social-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-list {
  width: 206px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.footer-social-link-icon {
  fill: #ffffff;
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.footer-social-link:hover .footer-social-link-icon,
.footer-social-link:focus .footer-social-link-icon {
  fill: #ffffff;
  cursor: pointer;
}

.footer-subscribe-mail {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
  color: #ffffff;
}

.footer-subscribe-button {
  min-width: 200px;
  border: transparent;
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 28px;
  transition-property: box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer-subscribe-button:hover, .footer-subscribe-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-icon {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */