.logo-primary {
    color: #2196f3;
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo {
    margin-right: 92px;

    color: #000000;
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.footer-logo {
    color: #ffffff;
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}