.logo-primary {
    color: #2196f3;
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

@media screen and (min-width:306px) {
    .logo {
        margin-right: 92px;
    }
}

.logo {
    color: #000000;
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-logo {
    color: #ffffff;
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}