@media screen and (max-width: 960.98px) {
    .main-title {
        font-size: 26px;
        line-height: 1.62;
    }
}


@media screen and (min-width: 961px) {
    .main-title {
        font-size: 44px;
        line-height: 1.36;
    }
}

.main-title {
    margin-bottom: 30px;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}
