@media screen and (max-width: 1199.98px) {
    .section-title {
        margin-bottom: 30px;
        font-size: 28px;
    }
}

@media screen and (min-width: 1200px) {
    .section-title {
        margin-bottom: 50px;
        font-size: 36px;
    }
}


.section-title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}