:root {
    --font-family: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --icon-color: #afb1b8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms;

}